:root {
    --color-dark: #f4716d;
    --color-light: #fbd5c0;
    --color-board: #ffae00;
    --color-green: #d9ebc5;
}

* {
    font-family: "Arima", cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: white;
}
main {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-green);
}

/* ----------------------------------------------------------------------
                                    WELCOME 
------------------------------------------------------------------------*/
#main-welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image-welcome {
    width: 120%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.access-welcome {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.form input {
    margin: 10px;
    font-size: 20px;
    background-color: var(--color-light);
    border: none;
    border-bottom: var(--color-dark) 2px solid;
    padding-left: 5px;
}

.form button {
    width: 50%;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 20px;
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    border-radius: 12px;
    padding: 2px;
    align-self: center;
}

.form button:hover {
    background-color: var(--color-board);
    color: var(--color-light);
}

.error {
    width: 100%;
    min-height: 20px;
}

.form h1,
p {
    text-align: center;
}

/* --------------------------------------------------------------------
                        LOGO IMG
-----------------------------------------------------------------------*/
.logo-img img {
    border-radius: 50%;
}

.profilePhoto img {
    width: 250px;
    border: 2px solid var(--color-board);
    border-radius: 12px;
    margin: 10px;
}

.app-container {
    min-height: 100vh;
    background-color: var(--color-green);
}

/* --------------------------------------------------------------------
                        HEADER SECTION
-----------------------------------------------------------------------*/

.header {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .logo-img img {
    width: auto;
    height: 100px;
}

.header .profilePhoto img {
    width: auto;
    height: 100px;
}

.uploader {
    width: 500px;
    height: 250px;
    background: rgba(39, 37, 37, 0.544);
    border: solid 2px black;
    border-radius: 12px;
    padding: 5%;
}
