:root {
    --color-dark: #f4716d;
    --color-light: #fbd5c0;
    --color-board: #ffae00;
    --color-green: #d9ebc5;
    --color-lighter: #fbd5c0ac;
    --color-dark-green: #94b49f;
}

* {
    font-family: "Arima", cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}
main {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-lighter);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
    color: whitesmoke;
    font-size: 20px;
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    border-radius: 12px;
    padding: 2px;
    align-self: center;
}

textarea {
    font-size: 1.2rem;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}
/* ----------------------------------------------------------------------
                                    WELCOME 
------------------------------------------------------------------------*/
#main-welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.image-welcome {
    width: 120%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.access-welcome {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.form input {
    margin: 10px;
    font-size: 20px;
    background-color: var(--color-light);
    border: none;
    border-bottom: var(--color-dark) 2px solid;
    padding-left: 5px;
}

.form button {
    width: 50%;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 20px;
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    border-radius: 12px;
    padding: 2px;
    align-self: center;
}

.form button:hover {
    background-color: var(--color-board);
    color: var(--color-light);
}

.error {
    width: 100%;
    min-height: 20px;
}

.form h1,
.form p {
    text-align: center;
}

/* --------------------------------------------------------------------
                        LOGO IMG
-----------------------------------------------------------------------*/
.logo-img img {
    border-radius: 50%;
}

.profilePhoto img {
    width: 250px;
    border: 2px solid var(--color-board);
    border-radius: 12px;
    margin: 10px;
}

.profilePhoto img:hover {
    cursor: pointer;
}

.app-container {
    width: 100%;
    min-height: 100vh;
    /* background-color: var(--color-green); */
    background-color: #fbd5c096;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------------------------------------------------------
                        HEADER SECTION
-----------------------------------------------------------------------*/

header {
    width: 100%;
    height: 70px;
    padding: 0px 10px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #94b49f;
    border-bottom: 2px solid var(--color-dark);
}

header .logo-img img {
    width: auto;
    height: 100px;
    margin-top: 6px;
}

header .profilePhoto img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: 5px;
    /* border-radius: 50%; */
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

header nav a {
    height: 76%;
    margin-left: 10px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

header nav a:hover {
    color: var(--color-board);
}

/* --------------------------------------------------------------------
                        UPLOADER SECTION
-----------------------------------------------------------------------*/

.uploader {
    width: 500px;
    height: 250px;
    /* #ffae00   0.808*/
    background: #ffae00c4;
    border: solid 2px var(--color-board);
    border-radius: 12px;
    /* padding: 5%; */

    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.uploader form {
    flex-grow: 2;
    text-align: center;
}

.uploader h2 {
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
}

.uploader button {
    width: 50%;
}

.hidden {
    display: none;
}
label {
    cursor: pointer;
}
/* --------------------------------------------------------------------
                        PROFILE SECTION
-----------------------------------------------------------------------*/
.container-main-width {
    width: 80%;
}

/* --------------------------------------------------------------------
                        PROFILE SECTION
-----------------------------------------------------------------------*/
.profile-component {
    padding-top: 20px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-info {
    min-width: 300px;
    max-width: 505px;
    flex-grow: 2;
    padding: 10px 10px;
    padding-left: 50px;
}
/* .profile-info h1 {
    padding: 10px 10px;
    text-align: center;
} */
.bio-text {
    font-weight: 400;
}
.photo-friendButton button {
    width: 100%;
    padding-top: 3px;
}

.bio-container {
    display: flex;
    flex-direction: column;
    min-height: 160px;
}

.bio-container .bio-in-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 150px;
}

.bio-container button {
    width: 20%;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 20px;
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    border-radius: 12px;
    padding: 2px;
    align-self: flex-start;
}

/* --------------------------------------------------------------------
                        SEARCH SECTION
-----------------------------------------------------------------------*/
.search-container {
    width: 90%;
}

.search-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px 0px; */
    padding: 10px 25px 4px 60px;
}

.search-inputs input {
    margin: 10px;
    font-size: 20px;
    background-color: transparent;

    border: none;
    border-bottom: var(--color-board) 2px solid;
    padding-left: 5px;
}

.search-inputs h1 {
    align-self: flex-start;
}

.friend-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.friend-container .friend-info {
    padding: 10px;
    border-radius: 12px;
}

.friend-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

/* --------------------------------------------------------------------
                        FRIENDS & WANNABEE SECTION
-----------------------------------------------------------------------*/
.friends-wannabees-container {
    width: 90%;
}
.friends-wannabees-container h1 {
    margin-left: 60px;
}
.friends-wannabees {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.friends-wannabees-profile {
    border: 3px solid var(--color-dark-green);
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px 20px;
    width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.friends-wannabees-profile img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* border-radius: 12px 12px 0px 0px; */
    border-radius: 12px;
}

.friends-wannabees-profile h3 {
    width: 100%;
    text-align: center;
}

.friends-wannabees-profile button {
    width: 100%;
}

.wannabees-profile {
    min-height: 340px;
}

.wannabees-profile .delete-request {
    font-size: 15px;
    background-color: var(--color-light);
    border: 2px solid var(--color-light);
    color: var(--color-dark);
    margin-top: 10px;
}

/* ----------------------------------------------------------------------
                                   CHAT SECTION 
------------------------------------------------------------------------*/
.chat-section {
    width: 57vw;
}

.chat-container {
    width: 57vw;
    height: 350px;
    /* overflow-y: scroll; */
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.chat-container .message {
    border: 1px solid var(--color-dark);
    background-color: antiquewhite;

    border-radius: 12px;
    padding: 10px;
    margin: 10px;
}

.chat-container .message p,
h3 {
    text-align: left;
}

.chat-container .message h6 {
    text-align: right;
}

.message .profilePhoto img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 0px;
    border-radius: 50%;
    object-fit: cover;
}

.message {
    display: flex;
    flex-direction: row;
}

.message .message-info {
    flex-grow: 2;
}
.message-info p:hover {
    cursor: pointer;
}

.chat-section textarea {
    width: 90%;
    height: 68px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

/* ----------------------------------------------------------------------
                                   POST SECTION 
------------------------------------------------------------------------*/

.wall-container {
    max-width: 835px;
}

.posts-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 90%;
    margin: 10px 20px;
    margin-bottom: 0px;
    padding: 10px;
    border: 2px solid var(--color-dark-green);
    border-radius: 12px;
    background-color: antiquewhite;
}
.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post .user-post {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post .post-to {
    margin: 0px 15px;
}

.post h6 {
    text-align: right;
}

.input-post {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-post textarea {
    width: 90%;
    height: 68px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.input-post button {
    width: 110px;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 0px;
}

.comment-container {
    width: 90%;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    align-items: flex-end;
}
.comment-post {
    width: 60%;
    border: 1px solid var(--color-dark-green);
    background-color: #caf3d879;
    border-radius: 12px;
    margin-top: 5px;
    padding: 10px;
}
.comment-post h3 {
    text-align: center;
}
.comment-post p {
    text-align: left;
}

.comment-post h6 {
    text-align: right;
}
.input-comment {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input-comment textarea {
    width: 60%;
    height: 68px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
}

/* ----------------------------------------------------------------------
                                  FRIENDS SECTION 
------------------------------------------------------------------------*/
.friends-container {
    min-width: 300px;
    max-width: 505px;

    border: 2px solid var(--color-board);
    border-radius: 12px;
    padding: 10px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.friends-round {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-round img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
    object-fit: cover;
}
.friends-round h4 {
    width: 100%;
    text-align: center;
}
